.bg-brand{
  background: #DDA0DD !important;
}
.bg-brand2{
  background: #4B0082 !important;
}
.bg-brand3{
  background: #D8BFD8 !important;
}
body{
font-family: 'Old Standard TT', serif !important;
}
.brandname{
  font-family: 'Fira Sans', sans-serif !important;
  font-variant: small-caps;
  font-weight: bolder;
}